.content {
  margin-top: 50px;

  .review-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: -220px;
    width: 60%;
    margin: 0px auto 150px;
    border-radius: 6px;
    box-shadow: 1px 1px 16px -9px #a7a7a7;

    .profile-img {

      img {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
      }

    }

    .name {
      margin: 60px auto 10px;
    color: royalblue;

    }

    .date {
      margin: -8px auto 0px;
    color: #b4b4b4;
    }

    .comment {
      margin: 10px auto;
    }

    .rate-content {
      margin: 0px auto 10px;
      position: relative;
      width: 270px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: 3px solid #ececec;
      height: 50px;

      div{
          display: flex;
            align-items: center;
            justify-content: space-around;
            width: 60px;
      }


      .like {
        i {
          position: absolute;
          font-size: 27px;
          color: white;
          z-index: 1;
          top: 7px;
          left: 19px;

        }

        &::after {
          content: "";
          height: 49px;
          width: 73px;
          background-color: green;
          position: absolute;
          top: -3px;
          left: -3px;
          right: 0;
          bottom: 0;
          z-index: 0;
        }
      }

      .disLike {
        i {
            position: absolute;
            font-size: 27px;
            color: white;
            transform: rotateY(179deg);
            z-index: 1;
            top: 11px;
            left: 19px;
        }

        &::after {
          content: "";
          height: 49px;
          width: 73px;
          background-color: red;
          position: absolute;
          top: -3px;
          left: -3px;
          right: 0;
          bottom: 0;
          z-index: 0;
        }
      }
    }


    .p {
      margin: 0px 70px;
      font-size: 13px;
      word-wrap: break-word;

    }

    .add-comment-btn {
      margin: 20px auto;

      button {
        cursor: pointer;
        color: white;
        background-color: #00be8e;
        padding: 13px 50px;
        border: transparent;
        border-radius: 4px;
      }
    }

    .comment-textarea {
      margin: 30px 50px;

      h6 {
        margin-bottom: 10px;
      }

      textarea {
        resize: none;
        width: 100%;
        background-color: #ebf0f2;
        border: none;
        outline: none;
        padding: 10px;
      }

      .main-add-comment {
        display: flex;
        justify-content: center;
      }
    }

    .base-comment {
      margin: 30px 70px;
      background-color: #dedede;
      padding: 20px 20px;
      z-index: 10;
      margin-bottom: 50px;

      &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #dedede;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(45deg);
        z-index: -4;

      }

      .comment-image {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: -2%;
        left: 50%;
        transform: translate(-50%, -50%);

        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }



    }

  }
}
